{% stylesheet %}
  /* cart section */
  .cart-section {
    margin: 50px 0;
  }

  .cart-section-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
  }

  @media (max-width: 1150px) {
    .cart-section-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }

  .single-cart-item {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid rgba(236, 236, 236, 0.541);
    gap: 10px;
  }

  .cart-single-item-thumbnail {
    max-width: 100px;
    width: 100%;
  }

  .single-cart-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  @media (max-width: 800px) {
    .single-cart-item {
      padding: 15px;
      display: flex;
      justify-content: start;
    }

    .single-cart-item-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      gap: 10px;
    }
  }

  .cart-single-item-product-name {
    text-decoration: none;
    color: black;
  }

  .cart-single-item-quantity-field {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
  }

  .cart-single-item-quantity-plus,
  .cart-single-item-quantity-minus {
    border: none;
    padding: 5px 10px 8px;
    border-radius: 5px;
    cursor: pointer;
  }

  .cart-single-item-quantity {
    width: 50px;
    border: 1px solid #d3d3d3;
    padding: 6px;
    border-radius: 5px;
  }

  .cart-single-item-quantity:focus {
    outline: none;
  }
  .cart-empty-message {
    color: red;
  }

  .cart-note-box {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    width: 100%;
  }

  .cart-note-box:focus {
    outline: 0;
  }

  .cart-page-update-btn {
    background: purple;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .cart-page-checkout-btn {
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
{% endstylesheet %}
<!-- cart main section -->
<div class="cart-section">
  <div class="container">

    <!-- cart form tag starts here -->
      <div class="cart-section-wrapper">
        <div class="cart-body">
          {% if cart.item_count > 0 %}
            {% for item in cart.items %}
              <div class="single-cart-item">
                <img src="{{ item.image | img_url: 'medium' }}" alt="" class="cart-single-item-thumbnail">
                <div class="single-cart-item-info" data-key={{ item.key }}>
                  <a href="{{ item.url }}" class="cart-single-item-product-name underline-animation">
                    {{- item.title -}}
                  </a>
                  <p class="cart-single-item-product-price">
                    {{ item.quantity }} X {{ item.price | money_with_currency }}
                  </p>
                  <div class="cart-single-item-quantity-field" data-line-id="{{ item.variant_id }}">
                    <button class="cart-single-item-quantity-minus minus">-</button>
                    <input
                      type="text"
                      name="updates[]"
                      id="quantity"
                      class="cart-single-item-quantity"
                      value="{{ item.quantity }}"
                      min="1"
                    >
                    <button class="cart-single-item-quantity-plus plus">+</button>
                  </div>
                  <p class="cart-single-item-total">Total - {{ item.final_line_price | money_with_currency }}</p>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <h3 class="cart-empty-message">{{ section.settings.cart_empty_msg }}</h3>
          {% endif %}
        </div>
        <div class="cart-info-box">
          <label for="note">Order Note</label>
          <textarea class="cart-note-box" name="note" id="note" rows="4"></textarea>
          <button type="submit" name="update" class="cart-page-update-btn">Update</button>
          <button type="submit" name="checkout" class="cart-page-checkout-btn">
            Checkout - {{ cart.total_price | money_with_currency }}
          </button>
        </div>
      </div>
    <!-- cart form tag ends here -->
  </div>
</div>

{{ 'cart-change.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Cart Main section",
  "settings": [
    {
      "type": "text",
      "id": "cart_empty_msg",
      "label": "Cart empty warning msg",
      "default": "Your cart is empty 🤢"
    }
  ],
  "presets": [
    {
      "name": "Cart Main section"
    }
  ],
  "enabled_on": {
    "templates": ["cart"]
  }
}
{% endschema %}
