<!-- menu section -->
<div class="header-section">
  <div class="container">
    <header>
      <div class="logo-section">
        <a class="logo-link" href="/">
          <img class="logo" src="{{ section.settings.logo | img_url: 'medium' }}" alt="{{ shop.name }}">
        </a>
      </div>
      <div class="menu-section">
        <div class="regular-menu">
          {% for link in section.settings.menu_links.links %}
            {% if link.links != blank %}
              <div class="droddown-menu-item">
                <a class="menu-link underline-animation" href="{{ link.url }}">{{ link.title }}</a>
                <div class="dropdown-content">
                  {% for sublink in link.links %}
                    <a class="menu-link underline-animation" href="{{ sublink.url }}">{{ sublink.title }}</a>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <a class="menu-link underline-animation" href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          {% endfor %}
        </div>

        <div class="cart-menu">
          <div class="cart-menu-links">
            {% for link in section.settings.menu_links.links %}
              {% if link.links != blank %}
                <div class="droddown-menu-item">
                  <a class="menu-link underline-animation" href="{{ link.url }}">{{ link.title }}</a>
                  <div class="dropdown-content">
                    {% for sublink in link.links %}
                      <a class="menu-link underline-animation" href="{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endfor %}
                  </div>
                </div>
              {% else %}
                <a class="menu-link underline-animation" href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
          <button class="cart-menu-cross-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <button class="cart-menu-btn"><i class="fa-solid fa-bars"></i></button>
        <button class="cart-btn">
          <i class="fa-solid fa-cart-shopping"></i> (<span class="cart-count-number">{{ cart.item_count }}</span>)
        </button>
      </div>
    </header>
  </div>
</div>

<script>
  let cartBtn = document.querySelectorAll('.cart-btn');
  cartBtn.forEach((singleCartBtn) => {
    singleCartBtn.addEventListener('click', function (event) {
      // console.log('Error');
    });
  });
</script>
{% schema %}
{
  "name": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo"
    },
    {
      "type": "link_list",
      "id": "menu_links",
      "label": "Select Main Menu"
    }
  ],
  "presets": [
    {
      "name": "header",
      "settings": {}
    }
  ]
}
{% endschema %}
